.container {
  position: fixed;
  width: 900px;
  height: 502px;
  top: 25%;
  left: 25%;
  margin-top: -100px;
  margin-left: -230px;
  overflow: hidden;
 
}
 
.background {
  position: absolute;
  left: 100px;
  /*top:50%;*/
  /*background-image: url("http://i3.minus.com/ibuIQhFc46eAu2.JPG");
  background-repeat: no-repeat*/
  overflow: hidden;
/*  width: 685px;
  height: 498px;
*/  /*margin: -300px 100px 0 -25px;*/
  /*background: cover;*/
}
/*.background img {
  width: 100%;
}*/
.left_tab{
  width: 300px;
  height: 480px;
  position: absolute;
  margin-top: 0px;
  padding: 10px 0px 10px 10px;
  font-family: Arvo;
  font-size: 1em;
  text-align: left;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border: 1px solid #ea4a3c;
  background-color: #FEFDFF;
  z-index: 5px;
  overflow: auto;
}
 
.right_tab {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: .667em;
  width: 200px;
  /*height: 100px;*/
  text-align: right;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  padding: 20px 0px 20px 20px;
  color: #FEFDFF;
  background-color: #ea4a3c;
  clear: both;
}
.stats_container {
  max-height: 200px;
  overflow: auto;
  padding-right: 5px;
 
}
.right_tab table {
  left: 15px;
  border: 1px solid #FEFDFF;
 
}
 
th {
  text-align: left;
}
 
 
h1 {
  font-size: 1.5em;
  color: #ea4a3c;
}
 
h2 {
  font-size: 1em;
}
h3{
  font-size: .667em;
  color: #ea4a3c;
}
 
 
input[type="submit"]{
  font-size: .667em;
/*  position: relative;*/
/*  top: 50%;*/
  width: 150px;
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 1px solid #ea4a3c;
  padding: 5px 0px 5px 5px;
  color: #FEFDFF;
  background-color: #ea4a3c;
  }
 
input[type='button']{
  font-size: .667em;
/*  position: relative;*/
/*  top: 50%;*/
  width: 150px;
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 1px solid #ea4a3c;
  padding: 5px 0px 5px 5px;
  color: #FEFDFF;
  background-color: #ea4a3c;
  }
 
a:link {
  position: relative;
  top: 235px;
  font-size: .667em;
  color: #FEFDFF;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 7px 48px 5px 5px;
  color: #FEFDFF;
  background-color: #ea4a3c;
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;

}
 
a:visited {
  position: relative;
  display: inline block;
  bottom: 0px;
  font-size: .667em;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 5px 50px 5px 5px;
  color: #FEFDFF;
  background-color: #ea4a3c;
  width: 150px;
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}
.left_tab textarea {
  line-height: .667em;
  overflow: auto;
}
 
.user {
  position: absolute;
  bottom: 0;
}


  /*.round_container {
  font-family: Arvo;
  position: fixed;
  top: 50%;
  width: 300px;
  margin-left: 20px;
  margin-top: -300px;
  text-align: left;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border: 1px solid #ea4a3c;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  }*/
