<div class="add-card" style="display: none;">
   <input type='text' placeholder="Card Term" name="cards[][term]">
   <br>
   <br>
   <textarea  rows="10" cols="30" placeholder="Card Definition" name="cards[][definition]"></textarea>
   <br>
   <br>
</div>