<div class="container">
  <h1>Flashcard Application</h1>
  <h3>Have an account? Login here:</h3>
  <form action='/authenticate_user' method="post">
    <input type="text" placeholder="Email" name="email">
      <br>
      <br>
      <input type="password" placeholder="Password" name="password">
      <br>
      <br>
    <input type="submit" value="Sign In">   
  </form>
    
  <!-- login form -->
  <h3>New to Web Flashcards? Create an account!</h3>
  <form action='/create_user' method="post">
    <input type="text" placeholder="Username" name="user_name">
    <br>
    <br>
    <input type="text" placeholder="Email" name="email">
    <br>
    <br>
    <input type="password" placeholder="Password" name="password">
    <br>
    <br>
    <input type="submit" value="Sign Up">
  </form>
    
</div>
