<div class="container">
  <div class="background">
  <img src="http://i3.minus.com/ibuIQhFc46eAu2.JPG" alt="alt">
  </div>
  <div class="left_tab">
    <h1>Flash Mash</h1>
    <h2>Build your own deck,<br> or use one of ours!</h2>
    <h3>Have an account? Login here:</h3>
    <form action='/authenticate_user' method="post">
      <input type="text" placeholder="Email" name="email">
      <br>
      <br>
      <input type="password" placeholder="Password" name="password">
      <br>
      <br>
      <input type="submit" value="Sign In">   
    </form>
    <h3>New to Flash Mash? Create an account!</h3>
    <form id='create_user' action='/create_user' method="post">
      <input id='user_name' type="text" placeholder="Username" name="user_name" required>
      <div class="check" id='user_name_check' style="display: none;">&#x2713;</div>
      <input id='user_email' type='email' placeholder="Email" name="email" required>
      <div class="check" id='user_email_check' style="display: none;">&#x2713;</div>
      <input id='user_pass' type="password" placeholder="Password" name="password" required>
      <div class="check" id='user_pass_check' style="display: none;">&#x2713;</div>
      <input type="submit" value="Sign Up">
    </form>
  </div>
</div>
