<div class="container">
    <h1>Welcome</h1>
    <div class="user">
      <p><%= user_name %></p>
      <form action="/logout" method="get">
        <input type="submit" value="Sign Out">
      </form>      
    <div>

    <div class="decks">
      <%@decks.each do |deck| %>
        
    </div>

</div>
